html
  head
    title TV Synopsis - Seasons
    link(rel="stylesheet" href="/css/styles.css")
body
  h1 Kim's Convenience
    h2(class="seasonheader")= seasons.number
  table
    tr(colspan=3 class="tableheader")
      th No.
      th Title
      th Director
    tr
      td 1
      td Gay Discount
      td Kaeden Michlik
    tr(colspan=3)
      td episode synopsis